<style type="text/css">
table{
border:3px solid black;
width:100%;
}
input{
width:90%;
}
td{
border:1px solid black;
padding:2px;
}

</style>
<h1> Tex Rect Encoder
</h1>
<h2>Bilinear filtering is used by default
</h2>
<table>
<tr>
<td id="x start" class="pos">
x start
</td>
<td id="y start" class="pos">
y start
</td>
<td id="x end" class="pos">
x end
</td>
<td id="y end" class="pos">
y end
</td>
<td id="tile">tile
</td>
<td>
<button tyle="button" onclick="NegateS()">Negate Signed</button>
</td>
</tr>
<tr>
<td>
<input type="number" id="xL" value="100" onchange="ValidityCheck()">
</td>
<td>
<input type="number" id="yL" value="100" onchange="ValidityCheck()">
</td>
<td>
<input type="number" id="xH" value="200" onchange="ValidityCheck()">
</td>
<td>
<input type="number" id="yH" value="200" onchange="ValidityCheck()">
</td>
<td>
<input type="number" id="T" value="7" onchange="ValidityCheck()">
</td>
</tr>
<tr>
<td id="x size">
X Size
</td>
<td id="y size">
Y Size
</td>
<td id="s start">
S Start
</td>
<td id="t start">
T Start
</td>
<td id="s repeat">
# of S repeats
</td>
<td id="t repeat">
# of T repeats
</tr>
<tr>
<td>
<input type="number" id="xS" value="32" onchange="ValidityCheck()">
</td>
<td>
<input type="number" id="yS" value="32" onchange="ValidityCheck()">
</td>
<td>
<input type="number" id="SS" value="0" onchange="ValidityCheck()">
</td>
<td>
<input type="number" id="TS" value="0" onchange="ValidityCheck()">
</td>
<td>
<input type="number" id="SR" value="1" onchange="ValidityCheck()">
</td>
<td>
<input type="number" id="TR" value="1" onchange="ValidityCheck()">
</td>
</tr>
</table>
<button type="button" onclick="Encode()">Encode</button>
<strong>Result:</strong>
<strong id="Res"></strong>
<br>
<h4>Red Box means an invalid input</h4>
<h5>Decimal input is allowed for pixel and texel coords but not texture size. <br>
S refers to horizontal texture coords, T is vert texture coords
</h5>
<h6> For more information refer to the N64 programming manual page 269.
<br>Several techniques on how to properly utilize Texture rectangles are discussed there
</h6>


<script type="text/javascript">
function Encode(){
var xL = document.getElementById("xL");
var xH = document.getElementById("xH");
var yL = document.getElementById("yL");
var yH = document.getElementById("yH");
var T = document.getElementById("T");
var xS = document.getElementById("xS");
var yS = document.getElementById("yS");
var SS = document.getElementById("SS");
var TS = document.getElementById("TS");
var SR = document.getElementById("SR");
var TR = document.getElementById("TR");

//pixel positions are 10.2
//outputs are in hex
var xLout = ConvertFP(xL.value,10,2);
var yLout = ConvertFP(yL.value,10,2);
var xHout = ConvertFP(xH.value,10,2);
var yHout = ConvertFP(yH.value,10,2);

//Texel positions are signed 10.5

var SSout = ConvertFPS(SS.value,10,5);
var TSout = ConvertFPS(TS.value,10,5);

//Ds/Dx values are signed 5.10
var xLength = (xH.value - xL.value);
var yLength = (yH.value - yL.value);
var SRout = (xLength/Math.floor(xS.value))*SR.value;
var TRout = (yLength/Math.floor(yS.value))*TR.value;
SRout = ConvertFPS(SRout,5,10);
TRout = ConvertFPS(TRout,5,10);



var LowHalf = "B3 00 00 00 " + SSout +" " + TSout;
var HighHalf = "B2 00 00 00 " + SRout +" " +TRout;
var TexRect = "E4 " + xHout +" " + yHout +" "+ "0"+T.value +" "+ xLout+" "+yLout;

var result = document.getElementById("Res");

var fuck ="<br>"+ TexRect + "<br>" + LowHalf + "<br>"+ HighHalf;
result.innerHTML = fuck;
}

function ValidityCheck(){


//pixel location check
var xL = document.getElementById("xL").value;
var xH = document.getElementById("xH").value;
var yL = document.getElementById("yL").value;
var yH = document.getElementById("yH").value;

var pos = document.getElementsByClassName("pos");


for (i=0;i<pos.length;i++){
	if(parseInt(yL) >= parseInt(yH) || parseInt(xL)>= parseInt(xH)){
		pos[i].style.background="red"
	}else{
		pos[i].style.background="none";
	}
}


if (xL>320||xH>320){
pos[0].style.background="red";
pos[2].style.background="red";
}else{
pos[0].style.background="none";
pos[2].style.background="none";
}

var ytart = document.getElementById("y start");
var yend = document.getElementById("y end");

if (yL>240||yH>240){
ytart.style.background="red";
yend.style.background="red";
}else{
ytart.style.background="none";
yend.style.background="none";
}

//S,T, ds,dt range check

var xS = document.getElementById("xS");
var yS = document.getElementById("yS");
var SS = document.getElementById("SS");
var TS = document.getElementById("TS");
var SR = document.getElementById("SR");
var TR = document.getElementById("TR");


var xLength = (xH - xL);
var yLength = (yH - yL);
var SRout = (xLength/Math.floor(xS.value))*SR.value;
var TRout = (yLength/Math.floor(yS.value))*TR.value;

var START = document.getElementById("s start");
var TTART = document.getElementById("t start");
var SPEAT = document.getElementById("s repeat");
var TPEAT = document.getElementById("t repeat");

if(Math.abs(SRout)>=32){
SPEAT.style.background="red";
}else{
SPEAT.style.background="none";
}

if(Math.abs(TRout)>=32){
TPEAT.style.background="red";
}else{
TPEAT.style.background="none";
}


if(Math.abs(parseInt(SS.value))>=1024){
START.style.background="red";
}else{
START.style.background="none";
}

if(Math.abs(parseInt(TS.value))>=1024){
TTART.style.background="red";
}else{
TTART.style.background="none";
}


//Tile range check
var tile = document.getElementById("tile");
var T = document.getElementById("T").value;
if(T>7||T<0){
tile.style.background="red";
}else{
tile.style.background="none";
}



}


function ConvertFPS(fp,Q,S){
if(fp==0){
return "0000";
}
if(fp>0){
	var Sbin = ConvertFP(fp,Q,S);
	while (Sbin.length<4){
	Sbin = "0" + Sbin;
	}
	return Sbin;
}
else{
	var F = (-1*fp)%1;
	I = -1*fp-F;
	F = ((F-1)*-1)%1;
	var out ="";
	for (i=0;i<S;i++){
		F = F*2;
		if (F>= 1){
			F=F-1;
			out = out+"1";
		}else{
			out = out + "0";
		}
	}
	var tuo = "";
	console.log(I)
	for (i=0; i<Q; i++){
		if (I%2 ==1){
			tuo = tuo + "0";
		}else{
			tuo = tuo + "1";
		}
		I = Math.floor(I/2);
	}
	tuo = tuo.split("").reverse().join("");
	tuo = "1" + tuo;
	var bin = tuo + out;
	var Sbin = parseInt(bin,2).toString(16).toUpperCase();
	while (Sbin.length<4){
	Sbin = "0" +Sbin;
	}
	return Sbin;
}
}


function ConvertFP(fp,Q,S){
//Q is int bits
//S is fractional bits
var F = fp%1;
var I = fp - F;
// get Fractional bits
var out = "";
for (i=0; i<S; i++){
	F = F*2;
	if (F>= 1){
		F=F-1;
		out = out+"1";
	}else{
	out = out + "0";
	}
}

//get integer bits
var tuo = "";
for (i=0; i<Q; i++){
	if (I%2 ==1){
	tuo = tuo + "1";
	}else{
	tuo = tuo + "0";
	}
I = Math.floor(I/2);
}
tuo = tuo.split("").reverse().join("");
var bin = tuo + out;
var Sbin = parseInt(bin,2).toString(16).toUpperCase();
while (Sbin.length<3){
Sbin = "0" +Sbin;
}
return Sbin;
}



function NegateS(){
var SS = document.getElementById("SS");
var TS = document.getElementById("TS");
var SR = document.getElementById("SR");
var TR = document.getElementById("TR");

SS.value = -SS.value;
TS.value= -TS.value;
SR.value=-SR.value;
TR.value=-TR.value;

}


</script>